﻿@model Task1Start.Models.BusinessUnitDetailVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete @Model.title</h2>

<h3>Are you sure you want to delete ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.businessUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeAddresss2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeAddresss2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officePostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officePostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeEmail)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
