﻿@model IEnumerable<Task1Start.Models.StaffVM>

@{
    ViewBag.Title = "Staff List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.buRef Staff List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
    <th></th>
</tr>

@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.staffCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
