﻿@model Task4Start.Models.SkillVM

@{
    ViewBag.Title = "BuSkills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.businessUnitCode) Skills</h2>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skillCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.skUnits)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skillCode)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>
