﻿@model Task4Start.Models.StaffVM

@{
    ViewBag.Title = "BuStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.businessUnitCode) Staff</h2>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.stUnits)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.staffCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.ActionLink("View Skills", "StaffSkills", "Staffs", new { id = item.staffCode }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>
