﻿@model IEnumerable<Task4Start.Models.BusinessUnitVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Business Units</h2>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.businessUnitCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.businessUnitCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("Staff", "BuStaff", new { id = item.businessUnitCode }) |
            @Html.ActionLink("Skills Resources", "BuSkills", new { id = item.businessUnitCode })
        </td>
    </tr>
}

</table>
