﻿@model IEnumerable<Task4Start.Models.SkillVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills Courses</h2>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skillCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skillDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skillCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillDescription)
        </td>
    </tr>
}

</table>
