﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    IT support<br />
    Middlesbrough<br />
    <abbr title="Phone">Phone:</abbr>
    07484 210298
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:S6223750@live.tees.ac.uk">S6223750@live.tees.ac.uk</a>
</address>