﻿@model Task4Start.Models.SkillVM

@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Skill for @Html.ValueFor(model => model.staffCode)</h2>
<br>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.staffCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.selectedSkCode, Model.SkList, "Select a Skill")
                @Html.ValidationMessageFor(model => model.selectedSkCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "StaffSkills", new { id = Model.staffCode })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
