﻿@model Task4Start.Models.SkillVM

@{
    ViewBag.Title = "StaffSkills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.staffCode) Skills</h2>
<br>

<p>
    @Html.ActionLink("Add a Skill", "AddSkill", new { id = Model.staffCode })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skillCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.skUnits)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.skillCode)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Index", "BusinessUnits", null, null)
</div>
